<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminAssets/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.js" integrity="sha512-ZHzbWDQKpcZxIT9l5KhcnwQTidZFzwK/c7gpUUsFvGjEsxPusdUCyFxjjpc7e/Wj7vLhfMujNx7COwOmzbn+2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   
    
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="adminAssets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        
        <%- include('../layouts/adminLayouts/sideBar') %>


    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            
        </header>
       
        <section class="content-main">
            <div class="content-header"> 
                <div>
                    <h2 class="content-title card-title">Edit Category </h2>
                    <!-- <p>Add, edit or delete a category</p> -->
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="POST" action="/admin/editCategory"  id="editCategoryForm">
                                <div class="mb-4">
                                  
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text"  value="<%= categoryData?.name %>" name="categoryName" placeholder="Type here" class="form-control" id="categoryName" />
                                    <span class="error" style="color:red" id="nameError"></span>
                                    

                                    <input type="hidden"  value="<%= categoryData?._id %>" name="categoryId" placeholder="Type here" class="form-control" id="brandId" />

                                </div>
                              
                                
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea  value="" name="categoryDescription" class="form-control" id="categoryDescription"><%=categoryData?.description %></textarea>
                                    <span class="error" style="color:red" id="descriptionError"></span>

                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary" onclick="validateForm()">Edit</button>
                                </div>
                            </form>
                          </div>
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> 



            




            
    
        </section> <!-- content-main end// -->
        
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/js/main.js" type="text/javascript"></script>

    <script src="adminAssets/js/main.js" type="text/javascript"></script>

    <!-- Add this in the head section or just before closing body tag -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <script>
    

// function showToast(message, type) {
//         let backgroundColor;

//         if (type === 'success') {
//             backgroundColor = "green";
//         } else if (type === 'error') {
//             backgroundColor = "red";
//         } else {
//             backgroundColor = "gray";
//         }

//         Toastify({
//             text: message,
//             duration: 2000,
//             close: true,
//             gravity: "top",
//             position: "right",
//             backgroundColor: backgroundColor,
//         }).showToast();
//       }



      //for validate form

function validateForm(){
    let valid=true

    document.querySelectorAll(".error").forEach(function(error){
        error.textContent=''
    })

    const name=document.getElementById('categoryName').value.trim()
    const description=document.getElementById('categoryDescription').value.trim()


    if(name===''){
        document.getElementById('nameError').textContent="Name is Required" 
        valid=false
    }
    if(description.length<45){
        document.getElementById('descriptionError').textContent="Description must contain at least 45 characters"
        valid=false
    }
    return valid
    
}
document.getElementById("editCategoryForm").addEventListener("submit",event =>{
    if(!validateForm())(
        event.preventDefault()
    )
})


 // for sweet alert

let categoryExist = "<%= typeof categoryExist !== 'undefined' ? categoryExist : '' %>";

if (categoryExist) {
  Swal.fire({
    title: 'Sorry!',
    text: categoryExist,
    icon: 'error',
    confirmButtonText: 'Try Again',
    toast: true,  
    position: 'top-end',
    timer: 3000,  
    timerProgressBar: true,
    background: '#f0f9ff',
  });
}


  
</script>

   



</body>

</html>