<%- include('../layouts/userLayouts/header') %>
<%- include('../layouts/userLayouts/navbar') %>


	<!--End Mobile Menu-->
    
    <!--Body Content-->
<div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
      <div class="page-title">
          <div class="wrapper">
              <h1 class="page-width">Your Order</h1>
          </div>
      </div>
  </div>
  <!--End Page Title-->

  <!-- Button Container -->
  <div style="display: flex; justify-content: space-between; margin: 20px;">
      <a href="/orders" style="background-color: black; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
          Back
      </a>
      <form action="#" method="POST" style="margin: 0;">
        <% console.log("hello",singleOrderData) %>
        <% if(singleOrderData.orderStatus === "shipping" || singleOrderData.orderStatus === "pending" && singleOrderData.paymentStatus==="paid") { %>

          <button type="submit" onclick="orderCancel('<%= singleOrderData._id %>')" style="background-color: red; color: white; padding: 10px 20px; border: none; border-radius: 5px;">Cancel Order</button>
          <% } %>
      </form>
  </div>
 <% console.log("shibu",singleOrderData) %>
   <!-- Code by chatgpt start  -->
  <% singleOrderData.items.forEach(item => { %>
      <div style="border: 1px solid #ccc; padding: 20px; margin: 20px; border-radius: 5px;">
          <h2 style="margin-top: 0;">Product Details</h2>

          <div style="display: flex; align-items: center; margin-bottom: 20px;">
              <div style="margin-right: 20px;">
                  
                      <img src="/productImages/<%= item.productImages[0] %>" alt="<%= item.productName %>" style="width: 150px; height: auto; border: 1px solid #ccc; border-radius: 5px;">
                      <img src="/productImages/<%= item.productImages[1] %>" alt="<%= item.productName %>" style="width: 150px; height: auto; border: 1px solid #ccc; border-radius: 5px;">
                      <img src="/productImages/<%= item.productImages[2] %>" alt="<%= item.productName %>" style="width: 150px; height: auto; border: 1px solid #ccc; border-radius: 5px;">
                      <img src="/productImages/<%= item.productImages[3] %>" alt="<%= item.productName %>" style="width: 150px; height: auto; border: 1px solid #ccc; border-radius: 5px;">

                     

                  
              </div>
              <div>
                  <p style="color: black; font-size: 18px;"><strong>Product Name:</strong> <%= item.productName %>/-</p><br>
                  <p style="color: black; font-size: 18px;"><strong>Price:</strong> Rs<%= item.price %>/-</p><br>
                  <p style="color: black; font-size: 18px;"><strong>Quantity:</strong> <%= item.quantity %></p><br>
                  <p style="color: black; font-size: 18px;"><strong>Size:</strong> <%= item.size %></p><br>
                  <p style="color: black; font-size: 18px;"><strong>Description:</strong> <%= item.description %></p><br>
                  <p style="color: black; font-size: 18px;"><strong>Brand:</strong> <%= item.brandName %></p><br>
                  <p style="color: black; font-size: 18px;"><strong>Category:</strong> <%= item.categoryName %></p><br>
                  <p style="color: black; font-size: 18px;"><strong>Category Description:</strong> <%= item.categoryDescription %></p>
              </div>
          </div>

          <h4 style="margin: 20px 0 10px;"><strong>Shipping Information</strong></h4>
          <p style="color: black; font-size: 18px;"><strong>Tax Amount:</strong> <%= singleOrderData.taxPrice %></p>
          <p style="color: black; font-size: 18px;"><strong>Shipping Charge:</strong> <%= singleOrderData.shippingPrice %></p>

          <div style="border-top: 1px solid #ccc; margin-top: 20px; padding-top: 10px;">
              <p style="color: black; font-size: 18px;"><strong>Order Status:</strong> <%= item.orderStatus %></p>
          </div>

          <div  style="margin-top: 10px;">
              <!-- <input type="hidden" name="orderId" value="">
              <input type="hidden" name="itemId" value="<"> -->
              <% if(item.orderStatus === "shipping" || item.orderStatus === "pending" && singleOrderData.paymentStatus==="paid") { %>
                <button id="productCancel" onclick="cancelProduct('<%= item.product %>', '<%= singleOrderData._id %>','<%= item.size %>')" style="background-color: red; color: white; padding: 10px; border: none; border-radius: 5px;">Cancel</button>
              <% } %>
              
            
               <% if (item.orderStatus === "delivered" ) { %>
              
                  <button id="productReturn" onclick="returnProduct('<%= item.product %>', '<%= singleOrderData._id %>','<%= item.size %>')" style="background-color: red; color: white; padding: 10px; border: none; border-radius: 5px;">
                    Return
                  </button>
              <% } %>

              
          </div>
      </div>
  <% }) %>
</div>
<!--End Body Content-->

    
    <!--Footer-->
    <footer id="footer">
        <div class="newsletter-section">
            <div class="container">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-7 w-100 d-flex justify-content-start align-items-center">
                            <div class="display-table">
                                <div class="display-table-cell footer-newsletter">
                                    <div class="section-header text-center">
                                        <label class="h2"><span>sign up for </span>newsletter</label>
                                    </div>
                                    <form action="#" method="post">
                                        <div class="input-group">
                                            <input type="email" class="input-group__field newsletter__input" name="EMAIL" value="" placeholder="Email address" required="">
                                            <span class="input-group__btn">
                                                <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe"><span class="newsletter__submit-text--large">Subscribe</span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-end align-items-center">
                            <div class="footer-social">
                                <ul class="list--inline site-footer__social-icons social-icons">
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>    
        </div>
        <div class="site-footer">
        	<div class="container">
     			<!--Footer Links-->
            	<div class="footer-top">
                	<div class="row">
                    	<div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        	<h4 class="h4">Quick Shop</h4>
                            <ul>
                            	<li><a href="#">Women</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Kids</a></li>
                                <li><a href="#">Sportswear</a></li>
                                <li><a href="#">Sale</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        	<h4 class="h4">Informations</h4>
                            <ul>
                            	<li><a href="#">About us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Terms &amp; condition</a></li>
                                <li><a href="#">My Account</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        	<h4 class="h4">Customer Services</h4>
                            <ul>
                            	<li><a href="#">Request Personal Data</a></li>
                                <li><a href="#">FAQ's</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Support Center</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                        	<h4 class="h4">Contact Us</h4>
                            <ul class="addressFooter">
                            	<li><i class="icon anm anm-map-marker-al"></i><p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p></li>
                                <li class="phone"><i class="icon anm anm-phone-s"></i><p>(440) 000 000 0000</p></li>
                                <li class="email"><i class="icon anm anm-envelope-l"></i><p>sales@yousite.com</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End Footer Links-->
                <hr>
                <div class="footer-bottom">
                	<div class="row">
                    	<!--Footer Copyright-->
	                	<div class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left"><span></span> <a href="templateshub.net">Templates Hub</a></div>
                        <!--End Footer Copyright-->
                        <!--Footer Payment Icon-->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                        	<ul class="payment-icons list--inline">
                        		<li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <!--End Footer Payment Icon-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    
     <!-- Including Jquery -->
     <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
     <script src="assets/js/vendor/jquery.cookie.js"></script>
     <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
     <script src="assets/js/vendor/wow.min.js"></script>
     <!-- Including Javascript -->
     <script src="assets/js/bootstrap.min.js"></script>
     <script src="assets/js/plugins.js"></script>
     <script src="assets/js/popper.min.js"></script>
     <script src="assets/js/lazysizes.js"></script>
     <script src="assets/js/main.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</div>
</body>


<script>
function cancelProduct(productId,orderId,size){
    $.ajax({
  url: "/orderDetails",
  method: "POST",
  data: JSON.stringify({ id: productId, orderId: orderId ,size:size}),
  contentType: "application/json",
  success: function(response) {
    console.log(response);
    if (response.success) {
      Swal.fire({
        title: 'Success',
        text: response.message,
        icon: 'success',
        timer: 2000, 
        showConfirmButton: false
      }).then(() => {
        window.location.reload();
      });
    }
  },
  error: function(xhr, status, error) {
    console.error('Error:', error);
    Swal.fire({
      title: 'Error',
      text: 'An error occurred while canceling the product.',
      icon: 'error'
    });
  }
});
}





function orderCancel( orderId) {
  console.log("hello",  orderId);
  
  $.ajax({
    url: "/orderCancel",
    method: "POST",
    data: JSON.stringify({  orderId: orderId }),
    contentType: "application/json",
    success: function(response) {
      if (response.success) {
        
        Swal.fire({
          title: 'Success',
          text: response.message,
          icon: 'success',
          timer: 2000, 
          showConfirmButton: false
        }).then(() => {
          
          window.location.reload();
        });
      }
    }
  });
}






  function returnProduct(productId, orderId,size) {
    console.log("id",productId)
    console.log("ordid",orderId)
    console.log("sssss",size)

    
   Swal.fire({
  title: 'Return Product',
  input: 'select', // Specifies a select dropdown
  inputOptions: {
    'damaged': 'Damaged',
    'wrong_item': 'Wrong Item',
    'no_longer_needed': 'No Longer Needed',
    'other': 'Other'
  },
  inputPlaceholder: 'Select a reason for returning the product',
  showCancelButton: true,
  confirmButtonText: 'Submit',
  cancelButtonText: 'Cancel',
  customClass: {
    popup: 'custom-popup', // Apply custom class for modal width
  },
  inputValidator: (value) => {
    // Ensure that the user selects a reason
    if (!value) {
      return 'You need to select a reason!';
    }
  }
})
.then((result) => {
      if (result.isConfirmed) {

        const selectedReason = result.value;

        
        fetch('/returnProduct', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            reason: selectedReason,
            productId:productId,
            orderId:orderId,
            size:size
          })
        })
        .then(response => response.json())
        .then(data => {

          console.log(data);
          
          if (data.success) {
    Swal.fire({
        title: 'Returned!',
        text: data.message || 'Operation completed successfully.',
        icon: 'success'
    });
} else {
    Swal.fire({
        title: 'Error',
        text: 'There was an issue processing the return.',
        icon: 'error'
    });
}

          setTimeout(function() {
  window.location.href = '/orders';
}, 3000); // 2000 milliseconds = 2 seconds
        });
      }
    });
  }














</script>




</html>